In [1]:
import pandas as pd

In [15]:
train_df = pd.read_csv('training.csv')
train_df['Date'].unique()

array(['2012-10-22', '2013-01-20', '2013-04-21', '2013-07-22',
       '2013-10-22', '2014-01-21', '2014-04-22', '2014-07-23',
       '2014-10-23', '2015-01-21', '2015-04-22', '2015-07-23'],
      dtype=object)

In [16]:
test_df = pd.read_csv('testing.csv')
test_df['Date'].

array(['2015-10-23', '2016-01-21', '2016-04-21', '2016-07-22'],
      dtype=object)

In [22]:
train_df ['Qtr'] = train_df['Date'].apply(lambda x: x.split('-')[0]+x.split('-')[1])

In [23]:
train_df['Qtr'].unique()

array(['201210', '201301', '201304', '201307', '201310', '201401',
       '201404', '201407', '201410', '201501', '201504', '201507'],
      dtype=object)

In [24]:
train_df.head()

,Date,Identifier,Dep_Var,Gr1Ind_Var1,Gr1Ind_Var2,Gr1Ind_Var3,Gr1Ind_Var4,Gr1Ind_Var5,Gr1Ind_Var6,Gr1Ind_Var7,...,Gr2Ind_Var4,Gr2Ind_Var5,Gr2Ind_Var6,Gr2Ind_Var7,Gr2Ind_Var8,Gr2Ind_Var9,Gr2Ind_Var10,Gr2Ind_Var11,Gr2Ind_Var12,Qtr
0,2012-10-22,1855,16,91624.526353,0.981399,-0.032599,0.030106,0.010643,0.030998,0.703471,...,0.0,0.181818,0.0,0.0,0.0,0.0,0.0,0.909091,0.165289,201210
1,2012-10-22,9079,13,472.315066,0.980664,0.058861,-0.010248,-0.012876,-0.010084,-0.124329,...,0.0,0.125000,0.0,0.0,0.0,0.0,0.0,0.750000,0.093750,201210
2,2012-10-22,49725,16,1039.574650,0.852444,0.072414,0.011823,0.002200,0.004664,0.101501,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.600000,0.000000,201210
3,2012-10-22,9569,9,4241.026023,1.094491,-0.015389,0.004078,0.002119,0.002838,0.079300,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.857143,0.000000,201210
4,2012-10-22,6828,6,15404.194258,1.020933,0.009126,-0.003701,-0.003559,-0.017787,-0.335150,...,0.0,0.076923,0.0,0.0,0.0,0.0,0.0,0.615385,0.047337,201210

In [28]:
train_df['Gr2Ind_Var2'].unique()

array([nan])